
<div class="container">
<h1> Kitchen Story Login</h1>


    <div class="card">
        
    <div class="card-body" >
        <form #f="ngForm" style="align-content: center;">
          <div id="user-data" #userData="ngModelGroup" ngModelGroup="userData">
            <div class="form-group">
              <label for="username">UserName : </label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                name="username"
                ngModel
                required
                #username="ngModel"
              />
              <span
                class="text-danger"
                *ngIf="username.invalid && username.touched"
                >User name is required</span
              >
            </div>
            <br>
            <div class="form-group">
              <label for="email">Password : </label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                name="email"
                ngModel
                #email="ngModel"
                required
                email
              />
              <span class="text-danger" *ngIf="email.invalid && email.touched"
                >Please enter correct email</span
              >
            </div>
            <p class="text-danger" *ngIf="userData.invalid && userData.touched">
              User Data is invalid
            </p>
          </div>

          
          <a href="#" class="resetPassword" >Forget Password</a>
          
          <br>
          <br>
          <div class="btn">
          <button class="btn btn-info" type="submit"  (click)="onGo()" >
            Submit
          </button>
        </div>
          
        </form>
      </div>
    </div>
  </div>
 
